<main>
  <div class="days">
    <h1>Opening hours</h1>
    <table>
      <tr>
        <th><a>営業時間</a></th>
        <td>
          <ul>
            <li><a>10:00 〜 19:00</a></li>
          </ul>
        </td>
      </tr>
      <tr>
        <th><a>定休日</a></th>
        <td>
          <ul>
            <li><a>火曜日</a></li>
          </ul>
        </td>
      </tr>
    </table>
  </div>
  <div class="notice">
    <ul>
      <li><a>※ カット、パーマの受付は 18:00 まで</a></li>
      <li><a>※ 年末年始休暇あり</a></li>
    </ul>
  </div>
</main>