<main>
  <article class="home">
    <%= image_tag("01.jpg") %>
    <p class="home-title">
      Special Time in only your salon
    </p>
  </article>

  <article class="post-home">
    <div class="post-title">
      <h2>【お知らせ】サイトリニューアル！</h2>
    </div>
    <div class="post-desc">
      <p>
        ホームページを一新しました。これからもHair Studio I's をよろしくお願いいたします。
      </p>
    </div>
  </article>
</main>