<main>
  <div class="price">
    <h1>Price List</h1>
    <table>
      <tr>
        <th><a>カット</a></th>
        <td>
          <ul>
            <li><a>4,400円〜</a></li>
            <li><a style="font-size: .8rem;">※シャンプー込</a></li>
          </ul>
        </td>
      </tr>
      <tr>
        <th><a>カラー</a></th>
        <td>
          <ul>
            <li><a>5,500円〜</a></li>
          </ul>
        </td>
      </tr>
      <tr>
        <th><a>パーマ</a></th>
        <td>
          <ul>
            <li><a>9,900円〜</a></li>
          </ul>
        </td>
      </tr>
      <tr>
        <th><a>トリートメント</a></th>
        <td>
          <ul>
            <li><a>2,200円〜</a></li>
          </ul>
        </td>
      </tr>
    </table>
  </div>
  <div class="notice">
    <ul>
      <li><a>※ すべて税込価格です</a></li>
    </ul>
  </div>
</main>